
%input{
  background: transparent;
  border: 0;
  border-block-end: remCalculation(1) solid currentColor;
  border-radius: 0;
}

%disabled{
  &.disabled,&[disabled]{
    cursor: not-allowed;
    background: #DDD;
    color: #FFF;
    * {
      color: #FFF;
      filter: brightness(0) invert(1);
      pointer-events: none;
    }
  }

}