.d-none{
  display: none !important;
}

.d-block{
  display: block !important;
}

.d-inline-block{
  display: inline-block !important;
}

@for $i from 1 through 10{
  .z-index-#{$i*100}{
    z-index: $i*100;
  }
}



.z-index-for-universe{ // z index for observable universe
  z-index: 99999999999999;
}

.over-hidden{
  overflow: hidden;
}

.ease{
  transition: 0.75s ease-in-out;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.high-opacity{
  opacity: 1;
}

.low-opacity{
  opacity: 0;
}

.pos-r{
  position: relative;
}

.pos-a{
  position: absolute;
}

.pos-f{
  position: fixed;
}

.c-pointer{
  cursor: pointer;
}

.pos-left{
  inset-inline-start: 0;
}

.pos-right{
  inset-inline-end: 0;
}

.pos-top{
  inset-block-start: 0;
}

.pos-bottom{
  inset-block-end: 0;
}

.m-auto{
  margin: auto;
}

.br-default{
  border-radius: remCalculation(7);
}

.centered{
  margin: 0 auto;
}

.l-mb-5{
  margin-block: 5px;
}

.l-mi-5{
  margin-inline: 5px;
}

.l-mis-5{
  margin-inline-start: 5px;
}

.l-mie-5{
  margin-inline-end:5px;
}

.l-mbs-5{
  margin-block-start: 5px;
}

.l-mbe-5{
  margin-block-end:5px;
}

.l-pb-5{
  padding-block: 5px;
}

.l-pi-5{
  padding-inline: 5px;
}

.l-pis-5{
  padding-inline-start: 5px;
}

.l-pie-5{
  padding-inline-end:5px;
}

.l-pbs-5{
  padding-block-start: 5px;
}

.l-pbe-5{
  padding-block-end:5px;
}

.mr-5{
  margin-inline-end: remCalculation(5);
}

.ml-5{
  margin-inline-start: remCalculation(5);
}

.mt-5{
  margin-block-start: remCalculation(5);
}

.mb-5{
  margin-block-end: remCalculation(5);
}

.pr-5{
  padding-inline-end: remCalculation(5);
}

.pl-5{
  padding-inline-start: remCalculation(5);
}

.pt-5{
  padding-block-start: remCalculation(5);
}

.pb-5{
  padding-block-end: remCalculation(5);
}

.mt20{
  margin-block-start: remCalculation(20);
}
.mb20{
  margin-block-end: remCalculation(20);
}

.pt20{
  padding-block-start: remCalculation(20);
}
.pb20{
  padding-block-end: remCalculation(20);
}

.events-none {
  pointer-events: none;
}

.primary-color-text{
  @include fontCalculation($w400,14,16,$primary);
  &.bold{
    font-weight: $w700;
  }
  &.anywhere{
    overflow-wrap: anywhere;
  }
}


.default-text {
  @include fontCalculation($w400, 14, 16, $primary-text);

  &.bold {
    font-weight: $w700;
  }

  &.anywhere {
    overflow-wrap: anywhere;
  }

  &.small {
    font-size: remCalculation(12);
    line-height: remCalculation(14);
  }
}

.link-text{
  @include fontCalculation($w400,14,16,$info);
  &.small{
    font-size: remCalculation(12);
    line-height: remCalculation(14);
  }

}

.text-center{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

$grid-breakpoints-custom: (
        xxs: 0,
        xs: 375px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

@each $screen,$key in $grid-breakpoints-custom {
  @media screen and (max-width: $key) {
    .#{$screen}-none{
      display: none;
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
    }
  }
}

@media screen and (max-width: 992px) {
  .for--desktop{
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .for--mobile{
    display: none !important;
  }
}


[disabled], .disabled{
  cursor: not-allowed;
  background: #DDD ;
  color: #FFF;
  pointer-events: none;
  * {
    color: #FFF;
    filter: brightness(0) invert(1);
    pointer-events: none;
  }
}

.overlay{

  &::after {
    position: fixed;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    z-index: inherit;
    display: block;
    cursor: default;
    content: "";
    background: transparent;
  }
}

.button--wrapper{
  display: flex;
  align-items: center;
  column-gap: remCalculation(20);
  >*{
    flex: 1;
  }
}
