.facebook-icon{
  @include background(11,23,url(/images-css/social/facebook.svg));
}

.linkedin-icon{
  @include background(22,22,url(/images-css/social/linkedin.svg));
}

.instagram-icon{
  @include background(20,20,url(/images-css/social/instagram.svg));
}

.jetofis-single-icon{
  @include background(41,60,url(/images-css/jetofis-single-icon.svg));
}

.arrow{
  @include background(14,8,url(/images-css/element/arrow.svg));
  &.up{
    transform: rotate(-180deg);
  }
}
.info-tel{
  @include background(20,20,url(/images-css/element/info-tel.svg));
}

.form-user{
  @include background(16,16,url(/images-css/element/form-user.svg));
}

.form-email{
  @include background(16,16,url(/images-css/element/form-email.svg));
}

.form-message{
  @include background(16,16,url(/images-css/element/form-message.svg));
}


$property:invoice,current,income,report,e-invoice,cancel,outgoing,online,integration,variant,price,place,free,happy,cursor,einvoice;
.property--card-icon{
  height: remCalculation(81);
  width: remCalculation(81);
  min-width:remCalculation(81);
  display: inline-block;

  @each $prop in $property{
    &.#{$prop}{
      background: url("/images-css/property/#{$prop}.svg") no-repeat center center;
    }
  }
}