@use 'sass:math';
@mixin css3-prefix($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

@mixin lineClamp($line){
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin link-colors($link, $visited, $hover, $active) {
    color: $link;
    &:visited {
        color: $visited;
    }
    &:hover,
    &:focus {
        color: $hover;
    }
    &:active {
        color: $active;
    }
}


@mixin truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin before($display: block, $content: '') {
    &:before {
        display: $display;
        content: $content;
        @content;
    }
}

@mixin after($display: block, $content: '') {
    &:after {
        display: $display;
        content: $content;
        @content;
    }
}

@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin background($width,$height,$url,$horizantal:center,$vertical:center,$rem:false,$display:inline-block,
$color:transparent,$bgSize:null){

    @if type_of($horizantal) == number and type_of($vertical) == number and $rem == false {
        background: $color $url no-repeat $horizantal + #{'%'} $vertical + #{'%'};
    }
    @else if type_of($horizantal) != number and type_of($vertical) == number{
        background: $color $url no-repeat $horizantal  $vertical+ #{'%'};
    }
    @else if type_of($horizantal) == number and type_of($vertical) != number{
        background: $color $url no-repeat $horizantal + #{'%'} $vertical;
    }
    @else if ($rem == true){
        background: $color $url no-repeat remCalculation($horizantal) remCalculation($vertical);
    }

    @else {
        background: $color $url no-repeat $horizantal $vertical;
    }

    @if(type_of($width) == number){
        width: remCalculation($width);
        min-width: remCalculation($width);
    } @else {
        width: $width;
        min-width: $width;
    }

    @if(type_of($height) == number){
        height: remCalculation($height);
        min-height: remCalculation($height);
    } @else  {
        height: $height;
        min-height: $height;
    }

    @if($bgSize != number and $bgSize != null ){
        background-size: remCalculation($bgSize);
    } @else if $bgSize != number and $bgSize == null  {
        background-size: remCalculation($width);
    }
    display: $display;

}

@mixin scrollBarColor($width:3,$height:3,$radius:3,$scColor:transparent,$thColor:#000) {
    &::-webkit-scrollbar {
        width: remCalculation($width);
        height: remCalculation($height);
        background: $scColor;
        border-radius: remCalculation($radius);

    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background:$thColor;
        border-radius: remCalculation($radius);

    }

}

@mixin scrollBar {
    &::-webkit-scrollbar {
        width: remCalculation(5);
        height: remCalculation(5);
        background: #d3d3d3;
        border-radius: remCalculation(5);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background:rgba(0,0,0,0.25);
        border-radius: remCalculation(5);
    }

}

@mixin fontCalculation($weight,$font-size,$line-height,$color,$opacity:1,$font-family:none) {
    font-weight: $weight;
    font-size: remCalculation($font-size);
    line-height: remCalculation($line-height);

    @if ($color != transparent){
        @include colorOpacity($color,$opacity);
    }

    @if ($font-family != none){
        font-family:$font-family;
    }
}

@mixin colorOpacity($color,$opacity:1){
    color: colorOpacity($color,$opacity);
}



@mixin arrow($direction: down, $size: 5, $color: #555) {
    width: 0;
    height: 0;
    display: block;
    border-left: remCalculation($size) solid transparent;
    border-right: remCalculation($size) solid transparent;
    border-block-end: remCalculation($size) solid $color;
    @if ($direction == right) {
        transform: rotate(90deg);
    }
    @else if ($direction == left) {
        transform: rotate(-90deg);

    }
    @else if ($direction == down) {
        transform: rotate(180deg);
    }
    @else {
        transform: rotate(0);
    }
}


@mixin chevron($width:10px,$height:10px,$thick:5px,$color:#000,$rotation:up){

    &:before{
        border-style: solid;
        border-width: $thick $thick 0 0;
        border-color: $color;
        content: '';
        display: inline-block;
        height: $height;
        width: $width;
        @if ($rotation == up){
            transform: rotate(-45deg);
        } @else if ($rotation == 'right'){
            transform: rotate(45deg);
        } @else if ($rotation == 'left'){
            transform: rotate(225deg);
        } @else if ($rotation == 'down'){
            transform: rotate(-225deg);
        }

        @content;
    }

}

@mixin closeIcon($size,$width,$color,$opacity,$position) {
    & {
        @if ($position == relative){
            position: relative;
        } @else{
            position: absolute;
        }
        width: remCalculation($size);
        height: remCalculation($size);
        opacity: $opacity;
        cursor: pointer;
    }
    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        inset-inline-start: remCalculation(math.div($size,2));
        content: ' ';
        height: remCalculation($size);
        width: remCalculation($width);
        background-color: $color;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

@mixin plusIcon($size,$width,$color,$opacity,$position) {
    & {
        @if ($position == relative){
            position: relative;
        } @else{
            position: absolute;
        }
        width: remCalculation($size);
        height: remCalculation($size);
        opacity: $opacity;
        cursor: pointer;
    }
    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        inset-inline-start: remCalculation(math.div($size,2));
        content: ' ';
        height: remCalculation($size);
        width: remCalculation($width);
        background-color: $color;
    }
    &:before {
        transform: rotate(0);
    }
    &:after {
        transform: rotate(90deg);
    }
}


@mixin overlay($background:#000,$opacity:1,$position:absolute){
    position: relative;
    &:after{
        content: '';
        display: block;
        position: $position;
        inset-block-start: 0;
        inset-block-end: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        margin: auto;
        background: colorOpacity($background,$opacity);
    }
}

@mixin forWhite(){
    filter: brightness(0) invert(1);
}

@mixin absCenter($top:0,$right:0,$bottom:0,$left:0){
    position: absolute;
    inset-inline-start: $left;
    inset-inline-end: $right;
    inset-block-start: $top;
    inset-block-end: $bottom;
    margin: auto;
}






