
$globalRem: 16;

$icon-path:'/images-css/';

/* color */
$primary:#0b3948;
$second:#f5704e;
$info:#18a2b8;
$success:#28a745;
$warning:#ffc008;
$danger:#dc3545;
$default:#929292; // notr


$primary-text:#5e6676;

/* font-weight */
$w700: 700;
$w600: 600;
$w500: 500;
$w400: 400;

/* font-family */
$archivo: 'Archivo', sans-serif;

/*icon-set*/
$icon-navigation: agent, dashboard, report,calendar,ticket,chat-report,use-settings,app-settings,heloscope,helorobo,eshops,agent-flow; /* navigation */
$icon-step: user,basket,location,cargo,payment,approve;  /* chat list in cart step */
$icon-media: file,location,image,folder,sticker,contact,pdf,voice,template; /* chat sending media */
$icon-profile:name,surname,mail,tel,birthday,gender,visited,register,lang,platform,archive;
$icon-dash-header:report,application;
$icon-empty:empty-cart,empty-catalog,empty-message,empty-chat,empty-campaign;
$icon-template-type:account,notification,meet,reply,resolution,payment,finance,reservation,cargo,ticket,bulk;
$icon-editor:emoji,line-trough,html;







