.maps--wrapper{
  max-width: calc(100% - #{remCalculation(80)});
  margin-inline-start: auto;
  @media screen and (max-width: 992px){
    max-width: 100%;
    iframe{
      aspect-ratio: 20/6;
    }
  }
  iframe{
    border: 0;
    width: 100%;
    aspect-ratio: 20/4;
  }
}

.contact--wrapper{
  margin-block-start: remCalculation(30);
  .contact--wrap{
    border-bottom: 1px solid #f5f5f5;
    padding-block-end: remCalculation(40);
    display: flex;
    align-items: flex-start;
    column-gap: remCalculation(30);

    @media screen and (max-width: 992px){
      flex-wrap: wrap;
      row-gap: remCalculation(30);
    }
    .contact--form-wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      box-shadow: 0 2px 4px #e5ebed;
      border-radius: 8px;
      background-color: #ffffff;
      padding: remCalculation(30);
      gap: remCalculation(25);

      .input-label-wrap{
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        row-gap: remCalculation(15);
        label{
          display: flex;
          align-items: center;
          @include fontCalculation(700,15,15,#0b3948);
          i{
            margin-inline-end:remCalculation(10);
          }
        }
        input,textarea{
          height: 45px;
          border-radius: 7px;
          border: 1px solid #f5f5f5;
          background-color: #ffffff;
          @include fontCalculation(400,12,16,#b5b5b5);
        }
        textarea{
          height: remCalculation(150);
          resize: none;
        }
        &.w50{
          flex: 1 0 40%;
          @media screen and (max-width: 576px){
            flex: 1 100%;
          }
        }
      }
    }
    .contact--info-wrapper{
      display: flex;
      flex-direction: column;
      row-gap: remCalculation(30);

      .info-item{
        padding: remCalculation(30);
        box-shadow: 0 2px 4px #e5ebed;
        border-radius: 8px;
        background-color: #ffffff;
        .head-text{
          @include fontCalculation(700,16,20,$second);
        }
        .head-desc{
          @include fontCalculation(300,16,20,#0b3948);
          margin-block-end: remCalculation(27);
        }
        .info-tel-wrap{
          display: flex;
          align-items: center;
          @include fontCalculation(700,16,16,#0b3948);
          i{
            margin-right: remCalculation(12);
          }
        }
        &:nth-child(even){
          box-shadow: 0 2px 4px #e5ebed;
          border-radius: 8px;
          background-color: #f5f5f5;
        }
      }
    }
  }
}