.invoice-header{
  @include fontCalculation(600,36,36,#0b3948);
  text-align: center;
  &.white{
    color: #fff;
  }
}

.fast--wrapper {
  padding-block: remCalculation(30) 0;

  .fast--wrap {
    .jetofis-single-icon {
      display: block;
      margin: 0 auto;
      margin-block-end: remCalculation(10);
    }

    .head-desc {
      max-width: 65%;
      margin: 0 auto;
      margin-block-start: remCalculation(20);
      text-align: center;
      @include fontCalculation(400, 18, 18, #3b3637);
    }
  }
}

.advantage--wrapper{
  background: #f5704e;
  padding-block: remCalculation(60) remCalculation(135);
  .advantage--wrap{
    .jetofis-single-icon{
      display: block;
      margin: 0 auto;
      margin-block-end: remCalculation(10);
    }
    .head-desc{
      max-width: 65%;
      margin: 0 auto;
      margin-block-start: remCalculation(20);
      text-align: center;
      @include fontCalculation(400,18,18,#fff);
    }
    .advantage--item-wrapper{
      display: flex;
      flex-wrap: wrap;
      column-gap: remCalculation(40);
      .advantage-item{
        flex: 1 0 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-block-start: remCalculation(70);
        row-gap: remCalculation(10);
        @include fontCalculation(300,16,22,#fff);
        text-align: center;
        h5{
          font-weight: 600;
          font-size: remCalculation(18);
        }

        i{
          width: remCalculation(90);
          height: remCalculation(90);
          border-radius: 50%;
          display: block;
          margin-block-end: remCalculation(10);
          &.pie-icon{
            background:#fff url("/images-css/invoice/pie-icon.svg") no-repeat center center;
          }
          &.operation{
            background:#fff url("/images-css/invoice/operation.svg") no-repeat center center;
          }
          &.archive{
            background:#fff url("/images-css/invoice/archive.svg") no-repeat center center;
          }
        }
      }
    }
  }
}

.how--solutions-wrapper{
  padding-block: remCalculation(60);
  .container-custom{
    max-width: remCalculation(870);
  }
  .how--solutions-wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: remCalculation(70);
    .property--card-wrapper{
      column-count: 3;
      grid-template-columns: repeat(3, calc(33.3% - #{remCalculation(20)}));
      place-items: center;
      margin-block-start: 0;
      gap: remCalculation(30);
      .property--card-item{
        height: remCalculation(200);
        max-height: remCalculation(200);
        width: 100%;
        aspect-ratio: unset;
        &:hover{
          .desc-text{
            display: block;
          }
          i{
            display: none;
          }
        }
        .head-text{
          white-space: pre-wrap;
        }
        .desc-text{
          display: none;
        }
      }
    }
  }
}

.how--starter-wrapper{
  background: #f5f5f5;
  padding-block: remCalculation(60);
  .how--starter-wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: remCalculation(100);

    .starter--item-wrap{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: remCalculation(45);

      .starter-item{
        flex: 1 0 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: remCalculation(25);
        flex-direction: column;
        @include fontCalculation(300,18,24,#0b3948);
        text-align: center;
        &:nth-child(even){
          color: #f5704e;
        }

        i{
          width: remCalculation(80);
          height: remCalculation(80);
          background:url("/images-css/invoice/licence.svg") no-repeat center center;
          &.management{
            background-image: url("/images-css/invoice/management.svg");
          }
          &.call-center{
            background-image: url("/images-css/invoice/call-center.svg");
          }
        }
        p{
          @include lineClamp(2);
          min-height: remCalculation(48);
        }
      }
    }
  }
}

.credit--wrapper{
  margin-block: remCalculation(100) remCalculation(40);
  .credit--wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: remCalculation(20);
    row-gap: remCalculation(20);
    .credit--item{
      flex: 1 0 remCalculation(150);
      border-radius: 15px;
      border: 1px solid #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      >*{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.credit-name{
          background: url("/images-css/invoice/credit-bg.svg") no-repeat center center;
          padding-block: remCalculation(40) remCalculation(30);
          border-radius: 15px 15px 0 0;
          @media screen and (max-width: 992px){
            background-size: cover;
          }
          .name{
            @include fontCalculation(700,36,36,#fff);
            margin-block-end: remCalculation(20);
          }
          .starter-price{
            @include fontCalculation(700,12,12,#0b3948);
            height: remCalculation(30);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background-color: #ffffff;
            width: 85%;
          }
        }
      }

      &:hover{
        .credit-name{
          background: url("/images-css/invoice/credit-bg-hover.svg") no-repeat center center;

        }
        .credit-button{
          background: #f5704e;
        }
      }


      .credit{
        @include fontCalculation(700,18,18,#0b3948);
        margin-block: remCalculation(20) remCalculation(10);
      }

      .per-credit{
        @include fontCalculation(300,12,12,#0b3948);
        margin-block: remCalculation(9) remCalculation(30);
      }
      .price{
        padding: remCalculation(17) 0;
        @include fontCalculation(700,18,18,#f5704e);
        border-block: 1px solid #f5f5f5;
      }
      .credit-button{
        width: 80%;
        margin-block: remCalculation(10);
      }
    }
  }
}
