.pricing--wrapper{
  display: flex;
  align-items: flex-start;
  .social--wrap{
    margin-block-start: remCalculation(130);
  }
  .pricing--wrap{
    flex: 1;
    background: #0b3948;
    padding-block: remCalculation(100);
    .pricing--subwrap{
     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .header-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: remCalculation(30);
        .head-text{
          @include fontCalculation(600,36,44,#fff);
          &:after{
            content: '';
            width: 21px;
            height: 4px;
            border-radius: 2px;
            background-color: #f5704e;
            display: block;
            margin: auto;
            margin-block-start: remCalculation(5);
          }
        }
        .desc-text{
          @include fontCalculation(400,18,36,#fff);
          text-align: center;
        }
      }
      .pricing--item-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        margin-block-start: remCalculation(30);
        column-gap: remCalculation(30);

        @media screen and (max-width: 992px){
          row-gap: remCalculation(30);
        }
        .pricing-item{
          border-radius: 8px;
          background-color: #ffffff;
          .item-header{
            height: remCalculation(60);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: remCalculation(10);
            @include fontCalculation(600,24,24,#fff);
            border-radius: 8px 8px 0 0;
            &.purple{
              background: #7450b0;
            }
            &.orange{
              background: #f5704e;
            }
            &.blue{
              background: #1a7c9c;
            }
          }
          .item-content{
            border: 1px solid #979797;
            border-top: 0;
            border-radius: 0 0 8px 8px;
            padding: remCalculation(30);
            .price{
              @include fontCalculation(600,18,18,#0b3948);
              margin-block-end: remCalculation(12);
              span{
                font-size: remCalculation(30);
                line-height: remCalculation(30);
              }
            }
            .free{
              @include fontCalculation(600,18,18,$second);
              margin-block-end: remCalculation(20);
            }
            .dot-slice{
              border: 0;
              height: 3px;
              width: 100%;
              background-image: linear-gradient(
                              90deg
                      , #0B3948 11%, transparent 10%);
              background-size: 25px 5px;
            }
            .info-text{
              @include fontCalculation(600,14,18,#0b3948);
              margin-block-start: remCalculation(30);
            }

            >*:last-child{
              margin-block-start: remCalculation(34);
            }

          }

          &.bigger{
            box-shadow: 0 2px 11px #5d7982;
            .item-content{
              >*:last-child{
                margin-block-start: remCalculation(94);
              }
            }
          }
          &:not(.bigger){
            max-width: 270px;
            @media screen and (max-width: 992px){
              max-width: unset;
            }
          }
        }
      }
    }
  }
}