.showcase-header-wrapper{
  display: flex;
  align-items: center;
  .showcase-header-wrap{
    background: #b6c3c8 url("/images-css/property-head-bg.svg") no-repeat 5% center;
    padding: remCalculation(20) 0;
    flex: 1;
    .container-custom{
      display: flex;
      align-items: center;
      column-gap: remCalculation(80);
      .content-wrap{
        display: flex;
        flex-direction: column;
        row-gap: remCalculation(15);
        .head-text{
          @include fontCalculation(600,36,42,#0b3948);
          &:after{
            content: '';
            display: block;
            width: remCalculation(21);
            height: remCalculation(4);
            border-radius: 2px;
            background-color: #f5704e;
          }
        }
        .desc-text{
          @include fontCalculation(600,14,22,#0b3948);
        }
        .sub-desc-text{
          @include fontCalculation(400,18,30,#0b3948);
        }
      }
    }
  }
}