.brands--wrapper{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: remCalculation(820);
  margin-block: clamp(#{remCalculation(30)},4.5vw,#{remCalculation(91)}) remCalculation(30);
  column-gap: remCalculation(20);

  .brand--item{
    width: remCalculation(120);
    height: remCalculation(80);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: remCalculation(10);

    img{
      aspect-ratio: 1/1;
      max-width: 90%;
      mix-blend-mode: luminosity;
    }
  }
}