.faq--wrapper {
  margin-block: clamp(15px, 4vw, 60px);

  &.faq-pages{
    margin-block: remCalculation(15);
  }

  .faq--wrap{
    padding-block-end: clamp(15px, 4vw, 60px);
    border-bottom: 1px solid #f5f5f5;

    .faq-header{
      @include fontCalculation(700,35,35,#0b3948);
      text-align: center;
      margin-block-end: remCalculation(30);
    }
    .faq--item-wrap {
      transition: 1s;
      overflow: hidden;
      .faq--item{
        margin-bottom: 0;
        border-radius: 0;
        border: 1px solid #f5f5f5;
        box-shadow: none;
        padding: clamp(10px, 2vw, 20px);

        @media screen and (max-width: 768px){
          padding-block: remCalculation(20);
        }

        &:hover{
          border-color: #f5704e;
          *{
            border-color: #f5704e;
          }
          &:last-child{
            border-bottom: 1px solid #f5704e
          }
        }

        &-head{
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: space-between;
          &.active{
            .header--sub-wrap{
              .order-no{
                color: #f5704e;
              }
              h6{
                color: #f5704e;
                font-weight: 700;
              }
            }
          }
          .header--sub-wrap {
            display: flex;
            align-items: center;
            .order-no{
              @include fontCalculation(700,24,24,$primary-text);
              margin-right: 20px;
            }
            h6 {
              color: #5d6676;
              font-size: 16px;
              font-weight: 600;
            }

          }
        }
        &-content{
          @include fontCalculation(600,16,20,#0b3948);
          margin-block-start: remCalculation(20);
          padding-inline-start: remCalculation(35);
        }
        &:first-child{
          border-radius: 20px 20px 0 0;
        }
        &:last-child{
          border-bottom: 1px solid #f5f5f5;
          border-radius: 0 0 20px 20px;
        }
        &.active{
          border: 1px solid #f5704e;
          margin-block: 20px;
          border-radius: 20px;
        }

        &.active-before{
          border-radius: 0 0 20px 20px;
        }
        &.active + .faq--item:not(:last-child){
          border-radius: 20px 20px 0 0;
        }

      }

    }
  }



}
