.footer--content{
  background: #0b3948;
  .footer-wrap{
    padding-block: remCalculation(60) remCalculation(65);
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 992px){
      row-gap: remCalculation(40);
    }

    h5{
      @include fontCalculation(700,16,16,#fff);
      margin-block-end: remCalculation(20);
    }
    .menu--item-wrap{
      display: flex;
      flex-direction: column;
      row-gap: remCalculation(12);
      .menu--item{
        @include fontCalculation(300,12,12,#fff);
      }
    }
    .footer--newsletter-wrap{
      display: flex;
      flex-direction: column;
      row-gap: remCalculation(15);

      .newsletter-input{
        border-radius: 8px;
        border: 1px solid #ffffff;
        height: remCalculation(40);
        @include fontCalculation(400,14,14,#fff);
        background: transparent;
        padding-inline-start: remCalculation(10);

        &::placeholder{
          color: inherit;
          font-weight: inherit;
        }
      }
      .checkbox{
        p{
          @include fontCalculation(400,11,11,#fff);
        }
      }
    }
  }
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include fontCalculation(400,14,14,#8c8c8c);
  padding-block: remCalculation(30);
}