.header--wrapper{
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  @media screen and (max-width: 992px){
    .nav--wrapper{
      display: none;
    }
  }

  .hamburger--menu {
    @include background(35,28,url("/images-css/element/hamburger-menu.svg"));
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &.sticky{
    background: #f5f5f5;
    box-shadow: 0px 6px 17px 0px rgb(245 245 245 / 50%);

    .header--wrap{
      height: remCalculation(50);
      @media screen and (max-width: 992px) {
        height: remCalculation(40);
      }
      .logo-wrap{
        width: remCalculation(120);
        transition: 0.5s;
        img{
          transition: inherit;
        }
      }
      .nav--wrapper{
        ul li a{
          height: remCalculation(30);
        }
      }
      .button--wrapper{
        div[class^='btn']{
          height: remCalculation(30);
          transition: .25s;
        }
      }
    }
  }
  .header--wrap{
    display: flex;
    align-items: center;
    height: remCalculation(120);
    transition: 0.5s;
    @media screen and (max-width: 992px) {
      height: remCalculation(70);
      column-gap: remCalculation(15);
      .button--wrapper{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        >*[class*="btn-"]{
          max-width: remCalculation(100);
        }
      }
    }
    .logo-wrap{
      width: remCalculation(170);
      transition: 0.5s;
      @media screen and (max-width: 576px){
        width: remCalculation(140);
      }
    }
    .nav--wrapper{
      flex: 1;
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: remCalculation(30);
        li{
          position: relative;
          @include fontCalculation(600,16,16,#3b3637);
          a{
            height: 60px;
            display: flex;
            align-items: center;
          }
          &:hover{
            color: $second;
            &:after{
              content: '';
              width: 100%;
              height: 3px;
              display: block;
              background: $second;
              position: absolute;
              bottom: 0;
            }
          }
          .sub-menu{
            width: 270px;
            box-shadow: 0 2px 4px #e5ebed;
            border-radius: 15px;
            background-color: #ffffff;
            border: 1px solid;
            padding: remCalculation(30);
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            inset-inline-start: remCalculation(-30);
            bottom: 0;
            transform: translateY(100%);
            li:hover:after{
              display: none;
            }
            a{
              height: remCalculation(25);
              &:hover{
                font-weight: 700;
              }
            }

          }
        }
      }
    }
  }
}

.back--to-top{
  width: remCalculation(40);
  height: remCalculation(40);
  display: block;
  background: url("/images-css/element/back-to-top.svg") no-repeat center center;
  position: fixed;
  inset-block-end: remCalculation(345);
  inset-inline-end: remCalculation(70);
  transform: rotate(-90deg);
  cursor: pointer;
}

.social--wrap{
  width: remCalculation(80);
  min-width: remCalculation(80);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 992px){
    display: none;
  }
  .icon-wrap{
    width: remCalculation(40);
    height: remCalculation(40);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: remCalculation(10);
  }
}

.mobile--menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  box-shadow: none;
  border-radius: 0;
  background: #fff;
  height: 100vh;
  max-height: 100vh;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 0 remCalculation(17);

  &.active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }

  .menu--mobile-properties {
    display: flex;
    .close--area {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid $primary;
      padding-block: remCalculation(36) remCalculation(28);

      .close--text {
        @include fontCalculation(700,21,22,#181818);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .close--icon {
        @include background(22,22,url(/images-css/element/mobile-menu-close.svg));
      }
    }
  }

  .mobile--menu-inner {
    background: #fff;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    @include scrollBarColor(2, 2, 2, transparent, transparent);

    .menu--wrap-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-bottom: 2px solid #f3f9ff;
      &.active {
        .nav--wrapper-mobile {
          margin-top: 10px;
        }
        .parent--menu {
          background: url("/images-css/element/menu-up.svg") no-repeat right
          center;
          color: $primary;
        }
      }

      &:first-child {
        border-bottom: 2px solid #f3f9ff;
      }

      & {
        & > a.parent--menu {
          background: url("/images-css/element/menu-down.svg") no-repeat right
          center;
          height: remCalculation(76);
          display: flex;
          align-items: center;
        }

      }

      & a {
        display: flex;
        align-items: center;
        @include fontCalculation(700,18,19,#181818);
        height: remCalculation(76);
      }

      .nav--wrapper-mobile {
        position: relative;
        flex-direction: column;
        top: 0;
        height: 0;
        overflow: hidden;
        background: transparent;
        transition: 1s;
        &.parent--menu-wrap{
          a{
            display: flex;
            align-items: center;
            width: 100%;
            @include fontCalculation($w400,16,18,#5e6676);
            &:not(:last-child){
              border-bottom: 1px solid #f3f9ff;
            }
            .icon-area{
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.5);
              border-radius: 18px;
              border: 1px solid #e6f0ff;
              background-image: linear-gradient(180deg, #fafdff 0%, #f3f9ff 100%);
              margin-inline-end: remCalculation(10);
            }
          }
        }
      }
    }

    .menu--properties {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;

      .social--mobile-wrap{
        display: flex;
        align-items: center;
        padding: remCalculation(16) 0;
        @include fontCalculation(400,18,18,#181818);
        .social--item-wrapper{
          display: flex;
          align-items: center;
          margin-inline-start: remCalculation(22);
          row-gap: 10px;
          flex-wrap: wrap;
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            border: 1px solid #e6f0ff;
            background: #fff;
            width: remCalculation(50);
            height: remCalculation(50);
            margin-inline-end: 10px;
            i{
              min-width: remCalculation(28);
              min-height: remCalculation(28);
              background-size: remCalculation(28);
              &.facebook-icon{
                background-size: remCalculation(14);
              }
            }
          }
        }
      }
    }
  }
}
