.hero--banner-wrapper{
  display: flex;
  align-items: center;
  .container-custom{
    display:flex;
    align-items:center;
    justify-content:space-between;
    column-gap:50px;
    @media screen and (max-width: 992px){
      flex-wrap: wrap;
      row-gap: remCalculation(30);
    }
  }
  .hero--banner-wrap{
    flex: 1;
    height: remCalculation(700);
    .banner--item{
      height: remCalculation(700);
      display: flex;
      align-items: center;

      .content-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: remCalculation(11);
        .head-text{
          @include fontCalculation(600,36,42,#fff);
        }
        .desc-text{
          @include fontCalculation(600,14,14,#fff);
          margin-block-end: 9px;
        }
      }
    }
  }
}



.hero--bg{
  background: url("/images-css/hero-banner/hero-bg.svg") no-repeat center center;

}

