.product--property-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-block: remCalculation(30) remCalculation(80);

  >.head-text{
    @include fontCalculation(600,36,42,#0b3948);
    margin-block-end: remCalculation(20);
  }
  >.desc-text{
    @include fontCalculation(400,18,23,#3b3637);
  }

}

.property--card-wrapper{
  display: grid;
  column-count: 4;
  gap: remCalculation(30);
  grid-template-columns: repeat(4,calc(25% - #{remCalculation(20)}));
  margin-block-start: remCalculation(50);
  @media screen and (max-width: 992px){
    grid-template-columns: repeat(auto-fill,calc(50% - #{remCalculation(15)}));
  }
  @media screen and (max-width: 576px){
    grid-template-columns: repeat(auto-fill,calc(100% - #{remCalculation(15)}));
  }

  .property--card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: remCalculation(20);
    border-radius: 15px;
    border: 1px solid #f5f5f5;
    position: relative;
    transition: .5s;
    aspect-ratio: 1/1;
    max-height: remCalculation(270);
    @media screen and (max-width: 992px){
      aspect-ratio: unset;
    }

    &:hover{
      background: #0b3948;
      transform: translate(0,#{remCalculation(-20)});
      i{
        @include forWhite;
      }
      .head-text,.desc-text{
        color: #fff;
      }
      &:after{
        content: '';
        display: block;
        @include background(40,40,url('/images-css/property/card-arrow.svg'));
        position: absolute;
        bottom: 0;
        inset-inline: 0;
        margin: auto;
        transform: translateY(50%);
      }
    }

    .head-text{
      @include fontCalculation(700,18,18,#3b3637);
      margin-block-end: remCalculation(9);
      text-align: center;
      white-space: nowrap;
    }
    .desc-text{
      @include fontCalculation(400,18,24,#3b3637);
      text-align: center;
      @include lineClamp(3)
    }
  }
}
