.testimional--wrapper{
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline-start: auto;
  column-gap: remCalculation(100);

  @media screen and (max-width: 992px){
    width: 100%;
    flex-wrap: wrap;
    row-gap: remCalculation(30);
    padding-inline: remCalculation(10);
  }

  .testimional--header{
    @include fontCalculation(700,35,35,#0b3948);
    white-space: nowrap;
    .swiper-navigate-arrow{
      margin-block-start: remCalculation(30);
      display: flex;
      align-items: center;
      column-gap: remCalculation(10);
      .next,.prev{
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url("/images-css/element/back-to-top.svg") no-repeat center center;
        cursor: pointer;
      }
      .prev{
        transform: rotate(-180deg);
      }
    }
  }

  .testimional--item-wrapper{
    display: flex;
    align-items: center;

    .testimional--item{
      display: flex;
      flex-direction: column;
      row-gap: remCalculation(30);
    }
    .testimional-text{
      @include fontCalculation(600,18,24,#3b3637);
      @include lineClamp(3);
    }

    .testimional-detail{
      display: flex;
      align-items: center;

      .image-wrap{
        border-radius: 50%;
        overflow: hidden;
        margin-inline-end: remCalculation(30);
      }
      .testimional-info{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        @include fontCalculation(700,16,16,#3b3637);

        .testimional-company{
          font-weight: 300;
        }
      }
    }
  }
}