.try--it-wrapper{
  background: url("/images-css/try-it/try-it-bg.webp") no-repeat center center;
  padding-block: remCalculation(130) remCalculation(150);


  .try--card-wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: remCalculation(30);

    .try-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1 0 20%;
      row-gap: remCalculation(10);
      padding: remCalculation(10);
      border: 1px solid #fff;
      border-radius: 8px;
      aspect-ratio: 1/1;

      i{
        background: #fff no-repeat center center;
        width: remCalculation(60);
        height: remCalculation(60);
        border-radius: 50%;
        &.try-device{
          background-image: url("/images-css/try-it/device.svg");
        }
        &.try-time{
          background-image: url("/images-css/try-it/time.svg");
        }
        &.try-easy{
          background-image: url("/images-css/try-it/easy.svg");
        }
        &.try-upload{
          background-image: url("/images-css/try-it/upload.svg");
        }
      }
      p{
        @include fontCalculation(300,16,20,#fff);
        text-align: center;
      }
    }
  }
  .try--content-wrap{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 992px) {
      row-gap: remCalculation(50);
      .try-img{
        text-align: center;
      }
    }
    .try-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      p{
        @include fontCalculation(300,18,18,#fff);
        margin-block-end: remCalculation(6);
      }
      h4{
        @include fontCalculation(300,36,46,#fff);
        margin-block-end: remCalculation(88);
      }
      h6{
        @include fontCalculation(300,24,24,#fff);
        margin-block-end: remCalculation(26);
      }
      input{
        height: remCalculation(50);
        border-radius: 15px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        @include fontCalculation(300,18,18,#0b3948);
        text-align: center;
        width: 100%;
        margin-block-end: remCalculation(20);
      }
      button{
        width: 100%;
        height: remCalculation(50);
        text-transform: uppercase;
        font-weight: 700;
        span{
          color: $second;
          margin-inline-start: remCalculation(5);
        }

      }
    }
  }
  @media screen and (max-width: 992px){
    background-size: cover;

    .try--card-wrap{
      row-gap: remCalculation(30);
      .try-item{
        flex: 1 0 50%;
        aspect-ratio: unset;
      }
    }
  }

}

