$theme-colors: ("primary": #0b3948, "secondary": #f5704e, "info": #18a2b8,"success": #28a745,"warning": #ffc008,"danger": #dc3545,"passive":#f0f0f0,"notr": #929292);
$theme-colors-lighten: ("primary": #f3f9ff, "secondary": #e6f0ff, "info": #17a2b8,"success": #fafffb,"warning": #ffc107,"danger": #fff7f8,"passive":#f0f0f0,"notr": #929292);

@each $name, $color in $theme-colors { // for color
    .#{$name} {
        color: $color;
    }
}

@each $name, $color in $theme-colors { // for background
    .bg-#{$name} {
        background: $color;
    }
}

@mixin btn-icon($width,$height,$icon-url,$display:inline-block){
    i{
        display: inline-block;

        margin-inline-end: remCalculation(15);
    }
}
@mixin btn-crate($btn-name:btn,$button-size,$box-shadow:none,$outline:none){
    @each $name, $color in $theme-colors {

        .#{$btn-name}-#{$name} {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            @if($button-size == little){
                padding: remCalculation(0) remCalculation(8);
                height: remCalculation(40);
            }
            border-radius: remCalculation(10);
            @if ($button-size == middle) {
                padding: remCalculation(0) remCalculation(30);
                height: remCalculation(55);
            }
            @if ($button-size == large) {
                padding: remCalculation(0) remCalculation(45);
                height: remCalculation(65);
            }
            font-size: remCalculation(14);

            i{
                margin-inline-start: remCalculation(8);
            }

            @if ($outline == none){
                border: 0;
            }

            @if ($name == 'secondary' and $outline == none){
                color: #fff;
            }

            @if($name != 'secondary' and $outline == none){
                color: #fff;
            }

            @if ($outline == none) {

                background: $color;
                @if ($box-shadow != none) {
                    box-shadow: 0 remCalculation(2) remCalculation(4) transparentize($color, 0.5);
                }
            }
            @if ($outline != none) {
                background: #fff;
                border: remCalculation(1) solid $color;
                color: $color;
            }
            cursor: pointer;
            &:hover{
                @if ($outline == none) {
                    background: darken($color,15.6%);
                    @if ($box-shadow != none) {
                        box-shadow: 0 remCalculation(2) remCalculation(4) transparentize(darken($color,15.6%), 0.5);
                    }
                }
                @if ($outline != none) {
                    border: remCalculation(1) solid darken($color,15.6%);
                    color:darken($color,15.6%);
                }
                @if ($name == 'secondary'){
                    color: darken(#fff,15.6%);
                }
            }

            &:focus{
                @if ($outline == none) {
                    background: darken($color,20%);
                    @if ($box-shadow != none) {
                        box-shadow: 0 remCalculation(2) remCalculation(4) transparentize(darken($color,20%), 0.5);
                    }
                }
                @if ($outline != none) {
                    border: remCalculation(1) solid darken($color,20%);
                    color:darken($color,20%);
                }
                @if ($name == 'secondary'){
                    color: darken($primary,20%);
                }
            }
        }
    }
}


@include btn-crate(btn,little);
@include btn-crate(btn-middle,middle);
@include btn-crate(btn-large,large);

@include btn-crate(btn-shadow,little,yes);
@include btn-crate(btn-middle-shadow,middle,yes);
@include btn-crate(btn-large-shadow,large,yes);

@include btn-crate(btn-outline,little,no,yes);
@include btn-crate(btn-middle-outline,middle,no,yes);
@include btn-crate(btn-large-outline,large,no,yes);


@mixin create-label-input{

    .label-input-control{
        border: remCalculation(1) solid #e6f0ff;
        background-color: #f3f9ff;
        padding: remCalculation(14) remCalculation(18);
        border-radius: remCalculation(7);
        display: flex;
        flex-direction: column;

        label{
            @include fontCalculation($w400,12,20,$primary);
        }

        input{
            @extend label;
            color: #181818;
            border: 0;
            background: transparent;

            @include placeholder{
                color: inherit;
            }
            &:focus{
                outline: 0;
            }
        }

        @each $name, $color in $theme-colors {

            &.#{$name} {
                border-color: $color;
                background: mix($color, white, 10%);

                label{
                    color: $color;
                }
                input{
                    color: $color;
                }
            }
        }
    }
}

@include create-label-input;


@mixin input-button-control{
    .input-button-control{
        border-radius: remCalculation(7);
        border: remCalculation(1) solid #e6f0ff;
        background-color: #f3f9ff;
        display: flex;
        align-items: center;
        input{
            @include fontCalculation($w400,12,35,$primary);
            border: 0;
            background: transparent;
            width: calc(100% - #{remCalculation(35)});
            text-indent: remCalculation(10);
            @include placeholder{
                color: inherit;
            }
        }

        &.icon i{
            @include background(19,35,url(/images-css/conversation/search-button.svg));
            border: 0;
        }

        button{
            height:remCalculation(39);
            border: 0;
            border-radius: remCalculation(7);
            color: #fff;
            margin-inline-end: 0;
            padding: 0 remCalculation(12);
        }

        @each $name, $color in $theme-colors {

            &.#{$name} {
                border-color: $color;
                background: mix($color, white, 10%);

                button{
                    background: $color;
                }

                input{
                    color: $color;
                }
            }
        }
    }
}
@include input-button-control;

@mixin input-control{
    input{
        width: 100%;
        border-radius: remCalculation(7);
        border: remCalculation(1) solid #e6f0ff;
        background-color: #f3f9ff;
        padding: 0 remCalculation(10);
        @include fontCalculation($w400,12,40,#181818);

        &:hover,&:focus{
            border: remCalculation(1) solid $primary;
            background-color: #ffffff;
        }
    }
}
.input-control{
    input{
        width: 100%;
        border-radius: remCalculation(7);
        background-color: #f3f9ff;
        padding: 0 remCalculation(10);
        @include fontCalculation($w400,12,38,#181818);
        height: remCalculation(40);
        border: remCalculation(1) solid transparent;


        &:hover,&:focus{
            border-radius: remCalculation(7);
            background: #ffffff;
            outline: 0;
        }

        &:disabled{
            border: 1px solid #f0f0f0;
            background-color: #fcfcfc;
            color: #969696;
        }

    }

    @each $name, $color in $theme-colors {

        &.#{$name} {
            border-color: $color;

            input{
                color: $color;
                background: mix($color, white, 10%);

                &:hover,&:focus{
                    border-radius: remCalculation(7);
                    border: remCalculation(1) solid $color;
                    background: #ffffff;
                }

                &::placeholder{
                    color: inherit;
                }

                &:disabled{
                    border: 1px solid #f0f0f0;
                    background-color: #fcfcfc;
                    color: #969696;
                }

            }



        }
    }

}

@mixin textarea-control{
    textarea{
        width: 100%;
        border-radius: remCalculation(7);
        border: remCalculation(1) solid #e6f0ff;
        background-color: #f3f9ff;
        @include fontCalculation($w400,12,40,#181818);

        &:hover,&:focus{
            border: remCalculation(1) solid $primary;
            background-color: #ffffff;
        }
    }
}

.textarea-control{
    textarea{
        padding: remCalculation(10);
        width: 100%;
        border-radius: remCalculation(7);
        background-color: #f3f9ff;
        @include fontCalculation($w400,12,14,#181818);
        height: remCalculation(120);
        border: remCalculation(1) solid transparent;


        &:hover,&:focus{
            border-radius: remCalculation(7);
            background: #ffffff;
            outline: 0;
        }
    }

    @each $name, $color in $theme-colors {

        &.#{$name} {
            border-color: $color;

            textarea{
                color: $color;
                background: mix($color, white, 10%);

                &:hover,&:focus{
                    border-radius: remCalculation(7);
                    border: remCalculation(1) solid $color;
                    background: #ffffff;
                }

                &::placeholder{
                    color: inherit;
                }

            }
        }
    }
}

.selectbox-button {
    border-radius: remCalculation(7);
    border: remCalculation(1) solid #e6f0ff;
    background-color: #f3f9ff;
    justify-content: space-between;
    padding: 0 remCalculation(20);
    color: #455964;
    font-size: remCalculation(12);
    font-weight: 400;
    min-height: remCalculation(40);
    width: clamp(#{remCalculation(190)},100vw,#{remCalculation(210)});
    display: flex;
    align-items: center;
    &.active{
        border-radius: 7px 7px 0 0;
    }
    .selectbox-area{
        display: flex;
        align-items: center;
        column-gap: remCalculation(8);
    }
}

.select-area{
    border-radius: remCalculation(7);
    border: remCalculation(1) solid #e6f0ff;
    background-color: #f3f9ff;
    padding-inline: remCalculation(20) remCalculation(10);
    @include fontCalculation($w400,12,40,#181818);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.active{
        border-radius: 7px 7px 0 0;
    }
    &:hover,&:focus,&.active{
        border: remCalculation(1) solid $primary;
        background-color: #ffffff;
    }

    & ~ .selectbox{
        overflow-y: auto;
        max-height: remCalculation(205);
        @include scrollBarColor(1,1,1,transparent,#eee);

        .select-item{
            height: remCalculation(33);
            width: clamp(#{remCalculation(200)},#{remCalculation(200)},#{remCalculation(200)});

        }
    }

    i{
        @include background(7,4,url('/images-css/element/arrow.svg'));
        margin-inline-start: remCalculation(8);
    }


}


.hlrb-alert{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: remCalculation(7);
    background-color:$second;
    padding: remCalculation(5) remCalculation(10);
    @include fontCalculation($w400,12,38,#181818);
    min-height: remCalculation(40);
    max-width: remCalculation(340);
    border: remCalculation(1) solid transparent;


    span{
        @include fontCalculation($w400,12,14,$primary);
    }

    i{
        @include closeIcon(15,2,$primary,0.5,relative);
    }


    &:hover,&:focus{
        border-radius: remCalculation(7);
        background: #ffffff;
        outline: 0;
    }


    @each $name, $color in $theme-colors {

        &.#{$name} {
            color: $color;
            background: mix($color, white, 10%);

            span{
                color: $color;
            }

            i{
                &:after,
                &:before{
                    background-color: $color;
                }
            }

            &:hover,&:focus{
                border-radius: remCalculation(7);
                border: remCalculation(1) solid $color;
                background: mix($color, white, 20%);
            }

        }
    }

}

.input-control-checkbox {


    label{
        cursor: pointer;
        position: relative;
        text-indent: 0;
        padding-inline-start: remCalculation(20);

        display: flex;
        align-items: center;
        @include fontCalculation($w400,12,14,#929292);

        input[type="checkbox"] {
            display: none;
        }

        .checkmark {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-block-end: 0;
            margin: auto;
            height: remCalculation(14);
            width: remCalculation(14);
            background: url("/images-css/element/uncheck.svg") no-repeat center center;
        }

        p{
            margin: 0;
        }



        input:checked ~ .checkmark:after {
            display: block;
        }
        input:checked ~ p{
            @include fontCalculation($w700,14,14,$primary);
        }
        input:disabled ~ .checkmark,
        input:disabled ~ .checkmark:after{
            background: url("/images-css/element/disable-check.svg") no-repeat center center;
        }

        input:disabled ~ p{
            color: #c8c8c8;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            inset-inline-start: 0;
            inset-block-start: 0;
            width: remCalculation(14);
            height: remCalculation(14);
            max-width: remCalculation(14);
            background: url(/images-css/element/check.svg) no-repeat center center;
            background-size: remCalculation(14);
        }

    }


}
.input-control-radio {


    label{
        cursor: pointer;
        position: relative;
        text-indent: 0;
        padding-inline-start: remCalculation(20);

        display: flex;
        align-items: center;
        @include fontCalculation($w400,12,14,#929292);


        input[type="radio"] {
            display: none;
        }

        .checkmark {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-block-end: 0;
            margin: auto;
            height: remCalculation(14);
            width: remCalculation(14);
            background: url("/images-css/element/unradio.svg") no-repeat center center;
        }

        p{
            margin: 0;
        }



        input:checked ~ .checkmark:after {
            display: block;
        }
        input:checked ~ p{
            @include fontCalculation($w700,14,14,$primary);
        }
        input:disabled ~ .checkmark,
        input:disabled ~ .checkmark:after{
            background: url("/images-css/element/disable-radio.svg") no-repeat center center;
        }

        input:disabled ~ p{
            color: #c8c8c8;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            inset-inline-start: 0;
            inset-block-start: 0;
            width: remCalculation(14);
            height: remCalculation(14);
            max-width: remCalculation(14);
            background: url(/images-css/element/radio.svg) no-repeat center center;
            background-size: remCalculation(14);
        }

    }


}

.toggle {
    position: relative;
    display: inline-block;

    &.normal{
        label.toggle-item {
            width: remCalculation(100);
            background: #2e394d;
            height: remCalculation(22);
            border-radius: remCalculation(7);
            position: relative;
            transition: all .3s ease;
            transform-origin: 20% center;
            cursor: pointer;
            color: #455964;
            font-size: remCalculation(12);
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                display: block;
                transition: all .4s ease;
                border: none;
                width: remCalculation(22);
                height: remCalculation(22);
                border-radius: remCalculation(7);
                top: remCalculation(1);
                left: 0;
                content: '';
                background: #fff;
                position: absolute;



            }
        }


        input[id^="switch"] {
            height: remCalculation(10);
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: remCalculation(10);

            & + label{
                background: #f3f9ff;

                &:before{
                    background: url('/images-css/element/switch-passive.svg');
                }
            }

            &:checked + label {
                background: #f3f9ff;
                color:$success;

                &:before {
                    left: remCalculation(78);
                    background: url('/images-css/element/switch-active.svg');
                }
            }
        }
    }
    &.small{
        label.toggle-item {
            width: remCalculation(30);
            background: #2e394d;
            height: remCalculation(10);
            border-radius: remCalculation(3);
            border: 2px solid #d8d8d8;
            position: relative;
            transition: all .3s ease;
            transform-origin: 20% center;
            cursor: pointer;
            color: #455964;
            font-size: remCalculation(12);
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                display: block;
                transition: all .4s ease;
                border: none;
                border-radius: 4px;
                width: remCalculation(10);
                height: remCalculation(10);
                top: remCalculation(-2);
                left: remCalculation(-2);
                content: '';
                background: #fff;
                position: absolute;



            }
        }
        input[id^="switch"] {
            height: remCalculation(10);
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: remCalculation(10);

            & + label{
                background: #f3f9ff;

                &:before{
                    background: $primary-text;
                }
            }

            &:checked + label {
                background: #f3f9ff;
                color:$success;

                &:before {
                    left: remCalculation(18);
                    background: $success;
                }
            }
        }
    }

}

.tooltip{
    max-width: remCalculation(222);

    color: #000;
    position:relative;
    background: transparent;
    .tooltip-text{
        border-radius: remCalculation(24);
        box-shadow: 0 remCalculation(2) remCalculation(4) remCalculation(-3) rgba(0, 0, 0, 0.5);
        border: remCalculation(1) solid currentColor;
        background-color: #fafaf9;
        padding-block: remCalculation(7) remCalculation(1);
        padding-inline: remCalculation(24);
        color: #181818;
        font-size: remCalculation(12);
        font-weight: 400;
        @include lineClamp(3);
        margin: 0;
    }
    @each $class,$color in $theme-colors{
        &.#{$class}{
            color: $color;
            .tooltip-text{
                box-shadow: 0 2px 4px -3px colorOpacity($color,0.5);
                background: colorOpacity($color,0.07);

            }
            p{
                color: $color;
            }
        }
    }

    &.right,&.left{
        padding-inline:remCalculation(5);
    }
    &.top,&.bottom{
        padding-block: remCalculation(5);
    }
    &.right{
        .tooltip-arrow{
            @include arrow(right,5,currentColor);
            position: absolute;
            inset-block-end: 0;
            inset-block-start: 0;
            inset-inline-end: 0;
            margin: auto;

        }
    }
    &.left{
        .tooltip-arrow{
            @include arrow(left,5,currentColor);
            position: absolute;
            inset-block-end: 0;
            inset-block-start: 0;
            inset-inline-start: 0;
            margin: auto;

        }
    }
    &.bottom{
        .tooltip-arrow{
            @include arrow(down,5,currentColor);
            position: absolute;
            inset-block-end: 0;
            inset-inline-start: 0;
            inset-inline-end: 0;
            margin: auto;

        }
    }

    &.top{
        .tooltip-arrow{
            @include arrow(top,5,currentColor);
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-inline-end: 0;
            margin: auto;
        }
    }
}







.loader {
    position: absolute;
    inset-block-start: calc(50% - #{remCalculation(32)});
    inset-inline-start: calc(50% - #{remCalculation(32)});
    width: remCalculation(64);
    height: remCalculation(64);
    border-radius: 50%;
    perspective: remCalculation(800);
    background: url("/images-css/icon-head.svg") no-repeat center center;
    background-size: remCalculation(45);
    z-index: 99;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    inset-inline-start: 0%;
    inset-block-start: 0%;
    animation: rotate-one 1.5s linear infinite;
    border-block-end: remCalculation(3) solid colorOpacity($primary,0.7);
}

.inner.two {
    inset-inline-end: 0%;
    inset-block-start: 0%;
    animation: rotate-two 1.5s linear infinite;
    border-right: remCalculation(3) solid colorOpacity($primary,0.7);
}

.inner.three {
    inset-inline-end: 0%;
    inset-block-end: 0%;
    animation: rotate-three 1.5s linear infinite;
    border-top: remCalculation(3) solid colorOpacity($primary,0.7);
}



/*! animation 2*/

.sk-cube-grid {
    width: remCalculation(40);
    height: remCalculation(40);
    margin-block: remCalculation(100);
    margin-inline:auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #0066ff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: colorOpacity($primary , 0.7);
}
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: colorOpacity($primary , 0.7);}
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    background: colorOpacity($primary , 0.7);
}
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    background: colorOpacity($primary , 0.5);
}
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: colorOpacity($primary , 0.5);
}
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: colorOpacity($primary , 0.7);
}
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background: colorOpacity($primary , 0.3);
}
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    background: colorOpacity($primary , 0.5);
}
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: colorOpacity($primary , 0.7);
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

.pager-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    a{
        border-radius: remCalculation(7);
        border: remCalculation(1) solid #e6f0ff;
        background-color: #f3f9ff;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: remCalculation(30);
        min-height: remCalculation(30);
        color: #181818;
        font-size: remCalculation(12);
        font-weight: 400;
        padding: 0 remCalculation(10);
        margin-inline:remCalculation(5);
        &:hover{
            box-shadow: 0 remCalculation(2) remCalculation(4) rgba(0, 70, 175, 0.17);
            border-radius: remCalculation(7);
            background-color: #0046af;
            border: remCalculation(1) solid #0046af;
            *{
                @include forWhite;
            }
        }
        &:first-child{
            margin-inline-start: 0;
        }
        &:last-child{
            margin-inline-end: 0;
        }

        .pager-multi-ar{
            display: inline-block;
            width: remCalculation(8);
            height: remCalculation(6);
            background: url("/images-css/element/pager-multi-ar.svg") no-repeat center center;
        }
        .pager-ar{
            display: inline-block;
            width: remCalculation(4);
            height: remCalculation(6);
            background: url("/images-css/element/pager-ar.svg") no-repeat center center;
        }
        &.next,&.prev{
            padding: 0 remCalculation(20);
        }
        &.prev{
            .pager-ar{
                margin-inline-end: remCalculation(10);
            }
        }
        &.next{
            .pager-ar{
                margin-inline-start: remCalculation(10);
                transform: rotate(180deg);
            }
        }
        &.last{
            .pager-multi-ar{
                transform: rotate(180deg);
            }
        }
    }
}

.multi-selection-wrap{ //TODO: //-- olanlar preview için eklenmiştir component'e çevrilip pop="drowdown"'a çevrilince kaldırılacaktır.
    width: 100%;
    position: relative; // --
    .multi-select-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fontCalculation($w400,12,13,$primary-text);
    }
    .multi-selection{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 7px;
        border: 1px solid #e6f0ff;
        background-color: #f3f9ff;
        height: remCalculation(40);
        padding: remCalculation(6) remCalculation(10);
        overflow-y: auto;

        &.active{
            border-radius: 7px 7px 0 0 !important; //TODO: advermind.scss de dublicate oluyor burası düzenlenecek
        }


        .multi-item{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            padding: 0 remCalculation(10);
            background: #fff;
            height: remCalculation(20);
            margin:0 5px 5px 0;

            span{
                @include fontCalculation($w400,11,12,#181818);
            }
            .remove{
                @include closeIcon(1,8,#979797,0.7,relative);
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }
    .multi-select-input{
        display: flex;
        align-items: center;
        width: auto;
        height: remCalculation(25);
        flex: 1;
        input{
            flex: 1;
            background: transparent;
            border: 0;
            @include fontCalculation($w400,12,14,$primary-text);
        }

    }
    .selectbox{
        border-radius: 0 0 7px 7px;
        width: 100%;
        position: absolute; //--
        z-index: 99; //--
        overflow-y: auto;
        max-height: remCalculation(120);
    }
}

.primary-text{
    color: $primary-text;
}

