body,
html {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

*{
    box-sizing: border-box;
}
*:focus{
    outline-color: #0085FF;
}
::selection{
    color: $primary;
    background: #fff;
}

*:where(input,select,textarea){
    @include css3-prefix(appearance,none)
}

*:where(input,select,textarea,button){
    &:focus{
        outline: 0;
    }
}

*:is(h1,h2,h3,h4,h5,h6){
    margin: 0;
}

input[type="checkbox"]{
    appearance: initial;
    -webkit-appearance: checkbox;
}


img{
    max-width: 100%;
}


p{
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: remCalculation(6);
    height: remCalculation(6);
    background: transparent;
    border-radius: remCalculation(6);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background:colorOpacity(#455964,0.5);
    border-radius: remCalculation(6);
}


.d-none {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 ;
}

p{
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.container-custom {
    max-width: 1170px;
    margin: auto;
}

@media screen and (max-width: 1170px) {
    .container-custom {
        padding: 15px;
    }
}

.general--list{
    li{
        margin-bottom: 5px;
        display: flex;
        align-items: flex-start;
        i{
            margin-right: 8px;
        }
    }
}


$grid-breakpoints-custom: (
        xxs: 0,
        xs: 375px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

@each $screen,$key in $grid-breakpoints-custom {
    @media screen and (max-width: $key) {
        .#{$screen}-none{
            display: none;
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0;
            position: absolute;
        }
    }
}

@media screen and (max-width: 992px) {
    .for--desktop{
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .for--mobile{
        display: none !important;
    }
}

.background-lazy {
    visibility: hidden;
    background: none !important;
}
