@import '../helpers/function';
@import '../helpers/variable';
@import "../helpers/mixin";

.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: remCalculation(40);
  margin-block: remCalculation(100);
  @media screen and (max-width: 992px){
    flex-wrap: wrap-reverse;
    row-gap: remCalculation(50);
  }
  .content{
    display: flex;
    flex-direction: column;
    row-gap: remCalculation(30);
    .head{
      @include fontCalculation(600,36,36,#0b3948);
    }
    .desc{
      @include fontCalculation(400,18,23,#3b3637);
      &.desc{
        margin-block-start: remCalculation(30);
      }
    }
  }
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.reverse{
  &:nth-child(odd){
    >div>div{
      flex-direction: row-reverse;
    }
  }
}

