@import '../helpers/function';
@import '../helpers/variable';
@import "../helpers/mixin";

.wrap{
  display: flex;
  align-items: center;
  width: 100%;
  padding: remCalculation(20) 0;
  ul{
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.item{
  @include fontCalculation(400,14,14,#0b3948);
  &:not(:last-child):after{
    content: '>';
    padding: 0 6px;
  }
  &:last-child{
    color:#f5704e;
  }
}