@import '../helpers/function';
@import '../helpers/variable';
@import "../helpers/mixin";

.wrap{
  display: flex;
  align-items: center;

  .subwrap{
    background: url("/images-css/page-header-bg.svg") no-repeat center center;
    background-size: cover;
    flex: 1;
    display: flex;
    align-items: center;
    padding-block:remCalculation(60);
    >div{
      width: 100%;
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  row-gap: remCalculation(15);
  h4{
    @include fontCalculation(600,36,42,#fff);
    &:after{
      content: '';
      display: block;
      width: remCalculation(21);
      height: remCalculation(4);
      border-radius: 2px;
      background-color: #f5704e;
    }
  }
  p{
    @include fontCalculation(600,14,22,#fff);
  }
}

