@import '../helpers/function';
@import '../helpers/variable';
@import "../helpers/mixin";

.wrap{
  background: url("/images-css/hero-banner/status-bg.svg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.head{
  @include fontCalculation(700,28,24,#3b3637);
  margin-block-end: remCalculation(20);
}

.desc{
  @include fontCalculation(400,18,22,#3b3637);
  margin-block-end: remCalculation(20);
}

@media screen and (max-width: 992px){
  .wrap > div{
    flex-direction: column-reverse;
    row-gap: remCalculation(40);
    align-items: center;
    justify-content: center;
    *{
      text-align: center;
      margin-inline: auto;
    }
  }
}