@use "sass:math";

@import 'helpers/function';
@import 'helpers/variable';
@import "helpers/mixin";
@import "helpers/helpers";
@import "helpers/extends";
@import "helpers/grid";
@import "helpers/normalize";
@import "helpers/icons";

@import 'base/topography';
@import "base/system";
@import "base/animation";

@import "components/header";
@import "components/footer";
@import "components/hero-banner";
@import "components/product-property";
@import "components/try-it";
@import "components/faq";
@import "components/testimional";
@import "components/brand";

@import "pages/index";
@import "pages/property";
@import "pages/invoice";
@import "pages/pricing";
@import "pages/contact";





a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
